--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
tensorflow-cpu
deepface
supabase
numpy
opencv-python-headless
python-multipart
requests
tf-keras
python-dotenv
scipy
mediapipe==0.10.14
torch
protobuf==4.25.3
